#DirectoryIndex index.php
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php
Options ALL -Indexes
ErrorDocument 404 /Canaima1.16/404.html
ErrorDocument 403 /Canaima1.16/403.html